<div class='row' {{action 'toggleDetails'}}>
  <div class='col s1'>
    <i class='material-icons small blue-text text-darken-4'>
      {{#if detailsVisible}}
        remove_circle_outline
      {{else}}
        add_circle_outline
      {{/if}}
    </i>
  </div>
  <div class='col s11'>
    <h6 class='blue-text text-darken-4'>{{item.libraryName}} - {{item.version}}</h6>
    {{#liquid-if detailsVisible class='detailsVisible'}}
          <p>{{item.image}}</p>
          <p>{{item.description}}</p>
          <p>{{item.url}}</p>
    {{/liquid-if}}
  </div>
</div>
